.tag
  cursor pointer
  border none
  background: #F7F7F7;
  border-radius: 20px;
  padding 8px 14px
  margin-right 10px
  font-weight bold
  font-size: 13px;
  color: #000000;
  display flex
  align-items: center
  &--active
    background: #FFD93E;