mixin circleController
  .circle_controller
    .inner
      .graduations
        - for (var graduations = 1; graduations <= 144; graduations++)
          .graduation
      .inner-circle
        span.temperature
      .triangle-wrapper