.categories
  display none
  &__toggler
    display flex
    margin-left auto
    &__btn
      display flex
      align-items center
    &__icon 
      margin-left 4px
      width 12px
      height 12px
      transform rotate(-90deg)

@media (min-width: 1024px)
  .categories
    display flex
    &__toggler
      display none
      
    