.card
  background #F7F7F7
  border-radius 20px
  height 120px
  min-width 200px
  display flex
  flex-direction column
  justify-content space-between
  align-items flex-start
  padding 14px
  box-sizing border-box
  cursor pointer
  transition all .35s cubic-bezier(.23, 1, .32, 1)
  box-shadow 0 2px 6px 0 rgba(197,186,186, 0)
  &__content
    display flex
    flex-direction column
  &__title
    margin 0
    font-size 14px;
    font-weight bold
  &__status
    padding-top 3px
    font-size 12px;
    color #858585;
  &--small
    height 100px
  &:hover
    background #FFFFFF
    box-shadow 0 2px 6px 0 rgba(197,186,186,0.50)