
.popup
  font-size 16px
  width 100%
  background #fff
  border-radius 20px
  padding 1.250em
  box-sizing border-box
  flex 1
  display flex
  flex-direction column
  transition all .4s cubic-bezier(.23, 1, .32, 1)
  &__buttons
    width 100%
    display flex
    flex-direction column
  &__wrapper
    z-index 1
    position fixed
    transition all .35s cubic-bezier(.23, 1, .32, 1)
    left 0
    top 0
    width 100%
    height 100%
    padding 60px
    display none
    flex-direction column
    justify-content center
    align-items center
    box-sizing border-box
    .btn
      margin-top 15px
    &--active
      display flex

  &__header
    display: flex
    flex-direction column

  &__content
    flex 1
    display flex
    flex-direction column
    justify-content center
    align-items center

  &__bloor
    opacity 0
    visibility hidden
    position absolute
    width 100%
    height 100%
    background: rgba(51,51,51,0.50);

  &__title
    color #333333
    font-size 1.125em
    margin 0 0 5px

  &__status
    font-size 0.750em
    color #333333

  &__icon
    flex 0
    overflow hidden


@media (min-width: 1024px)
  .popup
    width 630px
    &__buttons
      width 630px
      flex-direction: row
      .btn--submit
        margin-right 8px
      .btn--close
        margin-left 8px
